html, body {
    font-family: $body-fontstack;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $title-fontstack;
    font-weight: 600;
}

// --- EXPERIMENTAL FEATURE FOR WIDER SCREENS ---
//
//@media only screen and (min-width: 1400px) {
//    html { font-size: 1vw; }
//}