@mixin text-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@mixin fitted-image($url) {
    background: url(#{$url}) 50% 50% no-repeat;
    background-size: contain;
}